version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    volumes:
      - .:/var/www/html
    environment:
      - DB_HOST=192.168.100.100
      - DB_PORT=5432
      - DB_NAME=pagina
      - DB_USER=postgres
      - DB_PASSWORD=Admin123
      - DB_DRIVER=pgsql
