version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_NAME=inventory
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_DRIVER=pgsql
      
