version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000"
    volumes:
      - .:/var/www/html
    environment:
      # Conectar a tu DB existente (ajusta estos valores)
      - DB_HOST=192.168.100.100  # IP de tu servidor PostgreSQL
      - DB_NAME=pagina   # Nombre de tu base de datos existente
      - DB_USER=postgres         # Usuario de tu DB
      - DB_PASSWORD=Admin123  # Contraseña de tu DB
      - DB_DRIVER=pgsql
      - DB_PORT=5432            # Puerto (usualmente 5432)
    # Elimina depends_on ya que no crearás un servicio db
    restart: always
