version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000"
    volumes:
      - .:/var/www/html
    environment:
      - DB_HOST=${DB_HOST_EXTERNO}  # Definir esta variable en Coolify
      - DB_NAME=${DB_NAME_EXTERNO}
      - DB_USER=${DB_USER_EXTERNO}
      - DB_PASSWORD=${DB_PASSWORD_EXTERNO}
      - DB_DRIVER=pgsql
    restart: always
