version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    # Mapea el puerto 3000 del host al 80 del contenedor
    ports:
      - "3000:80"
    volumes:
      - .:/var/www/html
    environment:
      - DB_HOST=192.168.100.100
      - DB_PORT=5432
      - DB_NAME=inventory
      - DB_USER=postgres
      - DB_PASSWORD=your_secure_password
      - DB_DRIVER=pgsql
